.icon {

	&--burger {
		width: rem(42px);
		height: rem(28px);
	}

	&--enter {
		width: rem(24px);
		height: rem(23px);
	}

	&--icon {
		width: rem(70px);
		height: rem(70px);
	}

	&--phone {
		width: rem(24px);
		height: rem(24px);
	}

	&--spent {
		width: rem(48px);
		height: rem(48px);
	}
}